<p>Estos son nuestros datos de contacto:</p>

<p>
    C/ Dirección Imaginaria, 10<br>
    12345, Isla Kiribati<br>
    Teléfono: +34 987654321<br>
    Email: info@angularcorp.com
</p>

<p>También puedes pasarte por nuestras oficinas si quieres. Estamos justamente aquí:</p>

<p>
    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d255212.32477332378!2d-157.3941081991408!3d1.8704065522022302!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1ses!2suk!4v1415722554253" class="mapa" frameborder="0" style="border:0"></iframe>
</p>
