/* 
html5doctor.com Reset Stylesheet v1.6.1
Last Updated  2010-09-17
Author  Richard Clark - http //richclarkdesign.com 
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video
    margin 0
    padding 0 
    border 0 
    outline 0 
    font-size 100% 
    vertical-align baseline 
    background transparent 
 
body  
    line-height 1 

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section  
    display block 

nav ul 
    list-style none 

blockquote, q 
    quotes none 

blockquote before, blockquote after,
q before, q after 
    content '' 
    content none 

a 
    margin 0 
    padding 0 
    font-size 100% 
    vertical-align baseline 
    background transparent 

/* change colours to suit your needs */
ins 
    background-color #ff9 
    color #000 
    text-decoration none 

/* change colours to suit your needs */
mark 
    background-color #ff9 
    color #000  
    font-style italic 
    font-weight bold 

del 
    text-decoration  line-through 

abbr[title], dfn[title] 
    border-bottom 1px dotted 
    cursor help 

table 
    border-collapse collapse 
    border-spacing 0 

/* change border colour to suit your needs */
hr 
    display block 
    height 1px 
    border 0    
    border-top 1px solid #cccccc 
    margin 1em 0 
    padding 0 

input, select 
    vertical-align middle 

/* ---------------------- */
/* CUSTOM CSS STARTS HERE */
/* ---------------------- */

colorGrisOscuro = #333333
colorGrisIntermedio = #777777
colorGrisClaro = #FF0000
unidadDeMargen = 20px

transition(type, seconds)
    -webkit-transition type seconds ease-out
    -moz-transition type seconds ease-out
    -o-transition type seconds ease-out
    transition type seconds ease-out

html, body
    height 100%
    background-color colorGrisClaro
    font-family 'Source Sans pro', Helvetica, Arial, sans-serif

h1
    font-size 40px
    margin-top unidadDeMargen
    margin-bottom unidadDeMargen
h2
    font-size 25px

.mostrarMenu
    display none

.menu
    float left
    width 17%
    height 100%
    background-color colorGrisOscuro
    padding-top unidadDeMargen
    position fixed

    ul
        text-align center
        margin 0
        padding 0

        li
            display block
            padding 10px
            cursor pointer

            a
                color colorGrisClaro
                text-decoration none

        li:hover
            background-color colorGrisClaro

            a
                color colorGrisOscuro
        
.contenido
    width 85%
    margin auto

.contenedor
    float right
    background-color colorGrisClaro
    width 83%
    height 100%

    h1,h2
        text-align center
    p
        margin-left 20%
        margin-right 20%
        margin-top unidadDeMargen
        margin-bottom unidadDeMargen
        line-height 1.5em
        font-size 20px

    .logo
        max-width 100% !important
        height auto
        display block
        margin-left auto
        margin-right auto
        margin-top unidadDeMargen

    .miembro-del-equipo
        @extend .contenido
        background-color colorGrisIntermedio
        margin-bottom unidadDeMargen
        padding 10px

        .mitad-imagen
            width auto
            display inline-block

            img
                max-width 100% !important
                height auto
                display block
                margin-left auto
                margin-right auto

        .mitad-texto
            width 80%
            height 100%
            display inline-block
            float right

            .texto
                height 150px
                display table

                p
                    display table-cell
                    vertical-align middle
                    color colorGrisClaro

            @media screen and (max-width: 1077px)
                width 75%
            @media screen and (max-width: 865px)
                width 65%

    .portafolio
        @extend .contenido
        text-align center
        padding-bottom unidadDeMargen

        img
            display inline-block
            margin-bottom 4px
            opacity 1
            transition(opacity, 0.3s)
        img:hover
            opacity 0.5

    .mapa
        width 600px
        height 450px

        @media screen and (max-width: 1077px)
            width 500px
            height 400px
        @media screen and (max-width: 865px)
            width 400px
            height 300px
        @media screen and (max-width: 622px)
            width 330px
            height 230px
        @media screen and (max-width: 519px)
            max-width 100%
            height auto

@media screen and (max-width: 622px)

    h1
        font-size 34px

    .mostrarMenu
        display block
        width 20px
        height 20px
        background-color colorGrisClaro
        padding 10px
        position fixed
        top 5px
        left 5px
        z-index 20
        cursor pointer

        .barra-icono
            height 1px
            margin-bottom 4px
            border-bottom 2px solid colorGrisOscuro

    .menu
        float none
        width 100%
        height auto
        padding-top 0px
        display none
        z-index 10

    .contenedor
        width 100%
    
        .logo
            max-width 80% !important
            margin-left auto
            margin-right auto
            margin-top unidadDeMargen

        .portafolio
            img
                max-width 100% !important
                height auto

@media screen and (max-width: 519px)
    .contenedor
        .miembro-del-equipo
            height auto
            display block

            .mitad-imagen
                display block
            .mitad-texto
                width 100%
                display block
                float none

@media screen and (max-width: 519px)
    .contenedor
        .miembro-del-equipo

            .mitad-imagen
                img
                    margin-bottom 10px
